
.btn-primary {
  /* color: green; */
  background-color: #90a955;
  color: beige;
  font-size: 15px;
  font-weight: normal;
  /* border-color: bisque; */
  border-width: medium;
  padding: 5px 5px;
  border-radius: 20%;
  display: inline-block;
}

.btn-primary:hover {
  color: beige;
  font-weight: normal;
  background-color: #adc178;
  transition: background 0.4s ease;
  text-decoration: none;
}

.btn-primary .text-align {
  text-align: center;
}
